.chat {
  padding: 15px 20px;
  border-bottom: solid 1px #bababa;
  cursor: pointer;
  background-color: var(--chatlist-background-color);
}

.chat:hover {
  filter: brightness(0.95);
}

.chat:active {
  filter: brightness(0.90);
}

.chat-title {
  font-weight: bold;
}

.chat-last-message {
}
