.chat-area {
  grid-area: chat;
  background-color: var(--chat-background-color);
  height: 100vh;
  display: grid;
  grid-template:
    "chat-header"
    "chat-messages"
    "chat-send-area";
  grid-template-columns: auto;
  grid-template-rows: 70px auto 60px;
  z-index: 2;
}

.chat-header {
  grid-area: chat-header;
  box-shadow: 0px 6px 8px 1px #00000033;
}

.chat-messages {
  grid-area: chat-messages;
  display: grid;
  grid-auto-rows: max-content;
  grid-row-gap: 5px;
  padding: 5px 20px;
  overflow: auto;
}

.chat-send-area {
  grid-area: chat-send-area;
  padding-top: 8px;
  border-top: 1px solid #676767;
  margin: 10px 20px;
  display: grid;
  grid-template: "text button";
  grid-template-columns: auto 90px;
}

.chat-text-area {
  cursor: text;
  background-color: #bababa;
  padding: 5px;
  border-radius: 5px;
}

.chat-send-button {
  margin-left: 5px;
  display: flex;
  background-color: var(--header-background-color);
  color: white;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  cursor: pointer;
}

.chat-send-button:hover {
  filter: brightness(1.2);
}

.chat-send-button:hover i {
  color: var(--chatty-color);
  filter: brightness(1);
}

.chat-send-button:active {
  filter: brightness(0.8);
}
